:root {
  background-image: url("img/back.webp");
  font: sans-serif;
}

nav{
  padding: 10px 10px 10px 10px;
  margin: 2px 2px 2px 2px;
  background-color: #273994;
  border-radius: 5px;
}

.nav-btn {
  background-color: #3352ed;
  border-color: #273994;
  color: #b9bbe3;
  border-style: solid ;
  border-radius: 5px;
}

.nav-btn:hover {
  background-color: #1d2b70;
}

.logo {
  background-color: #2f49cf;
  border-radius: 100%;
  padding: 5px 5px 5px 5px;
  margin: -5px 5px 5px 5px;
  width: 20px;
  height: 20px;
  float: right;
}

.top-div {
  background-image: linear-gradient(#0b6664, #15186b);
  border-radius: 5px;
  height: 100%;
  padding: 10px 10px 10px 10px;
  margin: 10px 2px 2px 2px;
}

#image {
  height: 200px;
  width: 550px;
  display: none;
}

.btn {
  font-size: 25px;
  color: rgb(0, 255, 225);
  background-color:rgba(255, 255, 255, 0.053) ;
  text-align: center; 
  padding: 10px 10px 10px 10px;
  margin: 10px 2px 2px 2px;
  border-radius: 5px;
}

.me {
  background-color: #3352ed;
  border-radius: 100%;
  padding: 5px 5px 5px 5px;
  margin: 0px 5px 5px 15px;
  width: 250px;
  height: 250px;
  float: right;
}

footer {
  background-color: #5c3c38;
  color: #b9bbe3;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin: 9px 2px 2px 2px;
  font-size: x-small;
}

.ft-right {
  margin: 0px 2px 2px 2px;
  color: #b9bbe3;
  float: right;
}